header{
    border: 1px solid;
    text-align: center;
    background-color: white;
    width: 300px;
    margin: auto;
}
body{
  background-color: rgb(242, 251, 72);
  text-align: center;
}

.box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 30px;

}
.content{
 border: 1px solid;
 padding: 5px;
 background-color: rgb(251, 255, 240);
}
@media screen and (max-width: 800px) {
  .box{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .box{
    grid-template-columns: repeat(1, 1fr);
  }
}